<h2 class="text-center">Login</h2>
<form (submit)="login()" class="container mt-5">
    <div class="row mb-3">
        <div class="col-md-4 offset-md-4">
            <label for="username" class="form-label">Username:</label>
            <input type="text" id="username" name="username" class="form-control" [(ngModel)]="username" required />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4 offset-md-4">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password" required />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4 text-center">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
    </div>
</form>