/* You can add global styles to this file, and also import other style files */
.selector {
    background-image: url(../public/ekart_blue.jpg);
    background-repeat: no-repeat;
    background-size: cover !important;
}